.name {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 26px;
  color: #170b5e;
}

.skill {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #170b5e;
}
