@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBold.otf");
  font-weight: 600;
}

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
